<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    {% load static %}
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="{% static '/js/chat.js' %}"></script> -->
    <script>
        var logMsg = "{{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'logMessage' %}";
        var getChatsUrl = "{{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'getChats' %}";
        var sessionOwner = "{{sessionOwner}}";
        var crsfTocken = "{{csrf_token}}";
        var reader = "{{reader}}";
        var onGroup = "{{onGroup}}";
        var groupId ="{{groupId}}";
        var currentTimestamp = "{{currentTimestamp}}";

        console.log("{% static '/css/index.css' %}");
    </script>

</head>
<body>

    <div class="left">
        <a href="{% url 'logout' %}">logout</a>
        <h1>Chat app</h1>
    </div>

    <div class="typing_status"></div>

    <div class="container">
        <!-- <img src="/w3images/bandmember.jpg" alt="Avatar">
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span> -->
    </div>
  
  
    <div class="main">
        <input type="text" id="msg" placeholder="Enetr msg">
        <button type="button" id='btn'>Send</button>
        <button type="button" id='test'>test</button>

    </div>

    <!-- <script type="text/javascript" src="{% static 'js/chat.js' %}"></script> -->
    <script type="text/javascript" src="{% static '/js/chat.js' %}"></script>    

</body>
</html>
